@font-face {
  font-family: "Druk Wide";
  src: url("./fonts/7e389c5e310dc537b083e0e25ea6eab5.ttf") format("truetype");
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url("./fonts/JetBrainsMono[wght].ttf") format("truetype");
}

@font-face {
  font-family: "Jetbrains Mono Bold";
  src: url("./fonts/JetBrainsMono-Bold.ttf") format("truetype");
}

:root {
  --lightblue: #5b5bff;
  --lightgrey: #303030;
  --darkgrey: #242424;
  --lightred: #ffffff;
  --color-shadow: #babecc;
  --color-white: #fff;
  --color-bg: #e0e0e0;
}

/* Compositional Elements */
.flex-row {
  display: flex;
}

.flex-row-align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disperse {
  justify-content: space-between;
}

.div-center-h {
  margin-left: auto;
  margin-right: auto;
}

.gap-05 {
  gap: 0.5rem;
}

.fill-height {
  height: 100vh;
}

.fill-space {
  flex: 1;
}

.pad-1 {
  padding: 1rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-05 {
  padding: 0.5rem;
}

.pad-025 {
  padding: 0.25rem;
}

.margin-2 {
  margin: 2rem;
}

.margin-top-2 {
  margin-top: 3.5rem;
}

.margin-bottom-2 {
  margin-bottom: 3.5rem;
}

.flow > * + * {
  margin-top: 1rem;
}

/* Utility Elements */

/* background tokens */

.bg-blue {
  background-color: var(--lightblue);
  color: white;
}

.bg-light-grey {
  background-color: var(--lightgrey);
}

.bg-dark-grey {
  background-color: var(--darkgrey);
}

.bg-black {
  background-color: black;
}

/* text tokens */

.mono-font {
  font-family: "Jetbrains Mono";
}

.mono-font-bold {
  font-family: "Jetbrains Mono Bold";
}

.mono-font input::placeholder {
  font-family: "Jetbrains Mono";
}

.wide-font {
  font-family: "Druk Wide";
}

.font-size-s {
  font-size: small;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-color-white {
  color: white;
}

.word-wrap {
  word-wrap: break-word;
}

/* border tokens */

.box {
  border: 1px solid;
}

.border-round-s {
  border-radius: 3rem;
  border: 1px solid;
}

.border-round-xs {
  border-radius: 0.5rem;
  border: 1px solid;
}

.border-color-augment {
  border-color: var(--lightblue);
}

.border-thick {
  border: 2px solid;
}

/* utility tokens */

.remove-styling input {
  border-style: none;
  outline-style: none;
}

.remove-styling button {
  border-style: none;
  outline-style: none;
}

.responsive-size {
  max-width: max-content;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Block Elements */

.modal {
  max-width: 50vw;
}

.modal-button {
  background-color: var(--darkgrey);
  border: 2px solid white;
  color: white;
  font-size: large;
  font-family: monospace;
}

.mono {
  font-family: "Jetbrains Mono Bold";
  background-color: whitesmoke;
}

.neomorphic {
  font-family: "Jetbrains Mono Bold";
  background-color: var(--color-bg);
  color: rgb(138, 137, 137);
}

.holo {
  font-family: "Jetbrains Mono Bold";
  background-image: url(./images/simon-lee-XX5RQgTuD8o-unsplash.jpeg);
  background-size: cover;
  color: white;
}

.gradient {
  background-image: url(./images/milad-fakurian-nY14Fs8pxT8-unsplash.jpeg);
  font-family: "Jetbrains Mono Bold";
  background-size: cover;
  color: white;
}

.card-basic {
  height: 14rem;
  width: 23rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -5px -5px 12px rgb(19, 19, 19), 5px 5px 12px rgb(19, 19, 19);
}

.card-top {
  padding: 1.2rem;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.card-address {
  max-height: 80px;
  max-width: 150px;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  padding: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.mono .card-address {
  border-radius: 10px;
  border: 2px solid black;
}

.holo .card-address {
  border-radius: 10px;
  border: 2px solid black;
}

.gradient .card-address {
  border-radius: 10px;
  border: 2px solid white;
}

.mono .card-QR-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.35rem;
  border-radius: 10px;
  border: 2px solid black;
  background-color: whitesmoke;
}

.holo .card-address {
  border-radius: 10px;
  border: 2px solid white;
}

.neomorphic .card-address {
  border-radius: 10px;
  border: 2px solid var(--color-bg);
  box-shadow: -5px -5px 12px var(--color-white),
    5px 5px 12px var(--color-shadow);
  background-color: var(--color-bg);
}

.neomorphic .card-info {
  padding: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 10px;
  border: 2px solid var(--color-bg);
  box-shadow: -5px -5px 12px var(--color-white),
    5px 5px 12px var(--color-shadow);
  background-color: var(--color-bg);
}

.neomorphic .card-logo {
  padding: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 10px;
  border: 2px solid var(--color-bg);
  box-shadow: -5px -5px 12px var(--color-white),
    5px 5px 12px var(--color-shadow);
  background-color: var(--color-bg);
}

.holo .card-QR-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.35rem;
  border-radius: 10px;
  border: 2px solid white;
  background-color: whitesmoke;
}

.gradient .card-QR-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.35rem;
  border-radius: 10px;
  border: 2px solid white;
  background-color: whitesmoke;
}

.neomorphic .card-QR-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.35rem;
  border-radius: 10px;
  border: 2px solid var(--color-bg);
  box-shadow: -5px -5px 12px var(--color-white),
    5px 5px 12px var(--color-shadow);
  background-color: var(--color-bg);
}

.card-QR {
  max-height: 60px;
}

/**/

.info-input {
  border: 2px solid var(--lightblue);
  background-color: var(--lightblue);
}

.info-input input,
.info-input input::placeholder {
  background-color: var(--lightblue);
  text-align: center;
  font-family: "Druk Wide";
  color: white;
}

.info-input input:focus,
.info-input input:focus::placeholder,
.info-input:focus-within {
  color: var(--lightblue);
  background-color: white;
}

.info-card {
  border-left: 5px solid var(--lightred);
  border-bottom: 1px solid var(--lightred);
  color: white;
}

.style-active {
  background-color: white;
  color: var(--lightblue);
}

/* Application Specific Elements */

.modal-open {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  transform: scale(1.003);
}

@media screen and (max-width: 800px) {
  .mobile {
    display: flex;
    flex-direction: column;
  }

  .mobile-center-div-h {
    margin-left: auto;
    margin-right: auto;
  }
}
